.cart {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 400px;
  color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart ul {
  list-style: none;
  width: 100%;
  padding: 0 40px;
}
.cart li {
  background-color: #333;
  border: 1px solid #1e1e1e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  width: 100%;
  padding: 3px;
  margin: 3px;
}

.cart span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffcc66;
  padding-left: 0.5rem;
}

.cart-btn {
  margin-top: 2rem;
  background-color: rgb(233, 22, 22);
}

.cart-btn:hover {
  background-color: red;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #ff0f0f;
  border-color: red;
}
