.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 70px; /* Altura del header */
  z-index: 1000;
}
.header-logo {
  height: 50px;
  width: auto;
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.header-logo:hover {
  filter: invert(100%);
  transform: scale(1.05);
}
