.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
  align-items: center;
}

.nav-list a {
  color: #baff39;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #7e39ff; /* color de hover */
}
.cart-icon {
  height: 30px;
  margin-right: 0.5rem;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out, background-color 0.3s ease;
}
.cart-icon:hover {
  filter: invert(100%);
  background-color: #7e39ff;
}

.nav-item-cart {
  display: flex;
  position: relative;
}

.cart-count {
  background-color: #7e39ff;
  color: white;
  border-radius: 50%;
  /* float: right; */
  font-size: 12px;
  position: absolute;
  /* top: 0; */
  /* left: 2rem; */
  /* top: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 0;
}
